<a href="https://colab.research.google.com/github/rburakkorkmaz/CSE-406_Scientific-Programming/blob/main/KorkmazRamazanBurak_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><strong>Name & Surname:</strong> Ramazan Burak Korkmaz</h1>
<h1><strong>Student ID:</strong> 202151056004</h1>

In [102]:
import pandas as pd
import numpy as np

<h1><strong>Question 1</strong></h1>

In [103]:
data={'Area':['Array','Stack','Queue'],'Student1':[20,6,19],'Student2':[4,20,14]}
df = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'])
df

        Area  Student1  Student2
Cat_1  Array        20         4
Cat_2  Stack         6        20
Cat_3  Queue        19        14

In [104]:
# Create list from data dict values
my_data = [['Array','Stack','Queue'], [20,6,19], [4,20,14]]

# Columns of dataframe. Extracted from data dict
data_columns = list(data.keys())
my_df = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'], columns=data_columns)
my_df

        Area  Student1  Student2
Cat_1  Array        20         4
Cat_2  Stack         6        20
Cat_3  Queue        19        14

<h1><strong>Question 2</strong></h1>

In [105]:
d = {'one': pd.Series([1,2], index  = ['a','e']), 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d, index = ['d', 'b', 'a'])
print(df)

   one  two
d  NaN    3
b  NaN    1
a  1.0    0

<h1><strong>Question 3</strong></h1>

In [106]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

                   A         B         C         D
2000-01-01 -0.602702  0.905242 -0.280629 -1.402680
2000-01-02 -0.483303 -0.230559 -0.547082  0.138953
2000-01-03 -0.177236  0.844649  0.105627  0.080701
2000-01-04 -1.133692 -1.360710  1.012785 -0.854441
2000-01-05  0.110769  0.985106  1.793122 -0.252189
2000-01-06 -0.691232  1.098114  0.127465  0.906147
2000-01-07 -1.250926  0.302304 -0.145657  1.138501
2000-01-08 -0.674238  0.393788  0.792748 -0.178994

In [107]:
print(df[df.A + df.B > df.C][-2:])

                   A         B         C         D
2000-01-03 -0.177236  0.844649  0.105627  0.080701
2000-01-06 -0.691232  1.098114  0.127465  0.906147

<h1><strong>Question 4</strong></h1>

In [108]:
df=pd.DataFrame({'Date':['1/2/2011','1/3/2011','1/4/2011','1/5/2011', '1/6/2011'],
                 'Event': ['Music', 'Poetry', 'Music', 'Music', 'Poetry']})
df

       Date   Event
0  1/2/2011   Music
1  1/3/2011  Poetry
2  1/4/2011   Music
3  1/5/2011   Music
4  1/6/2011  Poetry

In [109]:
# Used list comprehension
df["Price"] = [1500 if event == "Music" else 800 for event in df.Event]

In [110]:
df

       Date   Event  Price
0  1/2/2011   Music   1500
1  1/3/2011  Poetry    800
2  1/4/2011   Music   1500
3  1/5/2011   Music   1500
4  1/6/2011  Poetry    800

<h1><strong>Question 5</strong></h1>

In [111]:
record = {'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
  	    'Age': [21, 19, 20, 18, 17, 21], 'Percent': [88, 92, 95, 70, 65, 78],
  	    'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science']}
dataframe = pd.DataFrame(record,columns=['Name','Age','Stream','Percent'])
dataframe

        Name  Age    Stream  Percent
0      Ankit   21      Math       88
1       Amit   19  Commerce       92
2  Aishwarya   20   Science       95
3   Priyanka   18      Math       70
4      Priya   17      Math       65
5    Shaurya   21   Science       78

In [112]:
dataframe.loc[(dataframe["Age"] == 21) & ((dataframe["Stream"] == "Science") | (dataframe["Stream"] == "Math"))]

      Name  Age   Stream  Percent
0    Ankit   21     Math       88
5  Shaurya   21  Science       78

<h1><strong>Question 6</strong></h1>

In [113]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data',header=None,names=['sex','length','diameter','height','weight','shucked_weight','viscera_weight','shell_weight','rings'])

In [114]:
# Creating a new column with computed values from diameter'^2/'viscera_weight 
df["computed_feature"] = np.sqrt(df.diameter)/df.viscera_weight

X = df[['length', 'diameter', 'viscera_weight', "computed_feature"]].to_numpy()

In [115]:
from sklearn import linear_model
y = df['rings'].to_numpy()
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

<h1><strong>Question 7</strong></h1>

In [ ]:
import torch
# Features are 3 random normal variables
features = torch.randn((1, 3))

# Define the size of each layer in our network
# Number of input units, must match number of input features
n_input = features.shape[1]     
hidden_layer_1 = 2                # Number of hidden layer 1 units 
hidden_layer_2 = 5                # Number of hidden layer 2 units
output_layer = 1                # Number of output layer units
# Weights for inputs to hidden layer 1
W1 = torch.randn(n_input, hidden_layer_1) 
# Weights for hidden layer 1 to hidden layer 2
W2 = torch.randn(hidden_layer_1, hidden_layer_2)  
# Weights for hidden layer to output layer
W3 = torch.randn(hidden_layer_2, output_layer)
# calculate the output for this multi-layer network using the weights W1 & W2 & W3. 
h_1 = activation(torch.mm(features, W1))
h_2 = activation(torch.mm(h1, W2))
output = activation(torch.mm(h_2, W3))
print(output)